
    @font-face {
      font-family: "CamberRegular";
      src:url("https://valt.io/fonts/Camber/Emtype Foundry - Camber Regular Regular.otf") 
      format("truetype");
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      color: #1754B9
      background-color: #1754B9;
    }
