@font-face {
    font-family: "Georgia";
	/* src:url("../fonts/Camber/Emtype Foundry - Camber Regular Regular.otf") format("truetype"); */
}

.post {
	font-family: "Georgia";	
}

.post h3, .post h2, .post h1, .post h4, .post h5 {
	font-family: "Georgia";
}


#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 40px 0px 40px;
}

figcaption {
	text-align: center;
	margin-bottom: 30px;
}

.post h2 { 
	font-size: 35px;
	margin: 30px 10px 30px 0px;
 }

.post h3 {  
	margin-top: 50px;
	margin-bottom: 20px;
}

.post h4 {
	font-size: 15px;
}

.post li {
	font-size: 18px;	
}

.post p {
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
}