<div class="valt-autofill-dropdown-item" role="button" style="padding: 8px 20px 8px 9px !important">
    <div style="
    display: flex !important;
    justify-content: center !important;
    align-items: center !important">
        <img class="valt-autofill-dropdown-icon" src="{{img_src}}">

        <div style="flex: 1 !important; overflow: hidden !important; text-overflow: ellipsis !important">
            <span class="valt-autofill-item-title">
                {{title}}
            </span>
        </div>
    </div>
</div>
