<div class="valt-autofill-dropdown-item" role="button">
    <div class="valt-autofill-password-wrap">
        <img class="valt-autofill-dropdown-icon" src="{{img_src}}">

        <div style="
        flex: 1 !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important">
            <span class="valt-autofill-password-title">Use Valt suggested password</span>
            <span class="valt-autofill-password">{{password}}</span>
        </div>
    </div>

    <div class="valt-autofill-password-subtitle">
        This password will be saved in your Valt.
    </div>
</div>
